<div class="guide-content">
    <h1>ABOUT</h1>
    <h2 class="main-title">COLOR BLIND TEST</h2>
    <ol>
        <li>
            This website was created by me and my friend as part of a research project in collaboration with one of our professors. Our study aims to prove that everyone has some level of color blindness; the difference lies in the varying sensitivity levels of each individual. We are writing this research together, and the website serves as a tool to collect datasets that will be used for our ongoing and future research.
        </li>
    </ol>
    <div class="test-button-container">
        <h3 class="test-title">Try one of our tests now!</h3>
        <div class="test-buttons">
            <a href="#" ng-click="openStandardTest()">STANDARD TEST</a>
            <a href="#" ng-click="openProtanopiaTest()">PROTANOPIA TEST</a>
            <a href="#" ng-click="openDeuteranopiaTest()">DEUTERANOPIA TEST</a>
            <a href="#" ng-click="openTritanopiaTest()">TRITANOPIA TEST</a>
        </div>
    </div>    
</div>
