<div class="intro" ng-show="!inProgress">
    <div class="container" id="home">
        <h1>SIMPLE</h1>
        <h2 class="main-title">COLOR BLIND TEST</h2>
        <p class="subtitle">
            This website aims to help individuals better understand their color vision through the Ishihara test, one of the most widely recognized tools for detecting color blindness. By participating in this test, you’ll discover how your eyes perceive colors and learn about any potential color vision deficiencies you may have. Our goal is to assess the sensitivity of color vision in different individuals and gather data that can contribute to future research. Your participation not only provides personal insights but also supports our ongoing research into improving the understanding and diagnosis of color blindness. Let's explore the world of color together!
        </p>
        
        <div class="test-button-container">
            <h3 class="test-title">Try one of our tests now!</h3>
            <div class="test-buttons">
                <a href="#" ng-click="openStandardTest()">STANDARD TEST</a>
                <a href="#" ng-click="openProtanopiaTest()">PROTANOPIA TEST</a>
                <a href="#" ng-click="openDeuteranopiaTest()">DEUTERANOPIA TEST</a>
                <a href="#" ng-click="openTritanopiaTest()">TRITANOPIA TEST</a>
            </div>
        </div>        
    </div>
</div>
